{
    "presets": ["react", "es2015"],
    "plugins": [
        ["module-alias", [
            { "src": "./src/components", "expose": "components" },
            { "src": "./src/modules", "expose": "modules" },

            { "src": "./src/modules/util", "expose": "util" },
            { "src": "./src/modules/draw_compilers", "expose": "compilers" }
        ]]
    ]
}
